@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.w-\[250px\].h-\[250px\].mx-auto.mb-8 {
  transform: scale(.25);
}